{sub_dirs, ["rel"]}.
{erl_opts, [{d, debug}, {parse_transform, lager_transform}]}.
{deps_dir, [deps]}.
{deps,
[
    {erlcloud, ".*", {git, "https://github.com/gleber/erlcloud.git", {tag, "680282e739d90b20272608c9ae2d521cfcf1febf"}}},
    {lager, ".*", {git, "https://github.com/basho/lager.git", {tag, "9719370eeaf8b64c1c3e79fb7052cb1ca29f16c8"}}}
]}.
